/* Glitch effects */
@keyframes glitch-left {
  0% {
    text-shadow: 3px 0 0 #ff0000;
  }
  2% {
    text-shadow: -5px 0 0 #ff0000;
  }
  4% {
    text-shadow: -3px 0 0 #ff0000;
  }
  57% {
    text-shadow: -3px 0 0 #ff0000;
  }
  60% {
    text-shadow: -10px 0 0 #ff0000;
  }
  63% {
    text-shadow: 3px 0 0 #ff0000;
  }
  100% {
    text-shadow: 3px 0 0 #ff0000;
  }
}

@keyframes glitch-right {
  0% {
    text-shadow: -3px 0 0 #00aeff;
  }
  2% {
    text-shadow: 5px 0 0 #00aeff;
  }
  4% {
    text-shadow: 3px 0 0 #00aeff;
  }
  57% {
    text-shadow: 3px 0 0 #00aeff;
  }
  60% {
    text-shadow: 10px 0 0 #00aeff;
  }
  63% {
    text-shadow: -3px 0 0 #00aeff;
  }
  100% {
    text-shadow: -3px 0 0 #00aeff;
  }
}

/* CRT Scan-line effect */
@keyframes scan-line {
  59.999% {
    clip-path: inset(0% 0 0% 0);
    color: #ffffff;
  }
  60% {
    clip-path: inset(0% 0 80% 0);
    color: #00ff00;
  }
  65% {
    clip-path: inset(80% 0 0% 0);
    color: #00ff00;
  }
  65.001% {
    clip-path: inset(0% 0 0% 0);
    color: #ffffff;
  }
}

/* Normal text */
.text {
  animation: scan-line 20s infinite linear forwards;
  position: relative;
}

/* Shifted texts */
.text::before, .text::after {
  content: attr(data-text);
  position: absolute;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

/* Left-shifted text */
.text::before {
  animation: glitch-left 2s infinite linear forwards;
  opacity: 0.8;
}

/* Right-shifted text */
.text::after {
  animation: glitch-right 2s infinite linear alternate-reverse;
  opacity: 0.8;
}