/* Glitch animation - credit: https://css-tricks.com/glitch-effect-text-images-svg */
@keyframes glitch {
  0% {
    clip-path: inset(16% 0 32% 0);
  }
  5% {
    clip-path: inset(87% 0 7% 0);
  }
  10% {
    clip-path: inset(39% 0 5% 0);
  }
  15% {
    clip-path: inset(29% 0 51% 0);
  }
  20% {
    clip-path: inset(75% 0 8% 0);
  }
  25% {
    clip-path: inset(91% 0 5% 0);
  }
  30% {
    clip-path: inset(88% 0 12% 0);
  }
  35% {
    clip-path: inset(59% 0 7% 0);
  }
  40% {
    clip-path: inset(27% 0 30% 0);
  }
  45% {
    clip-path: inset(71% 0 24% 0);
  }
  50% {
    clip-path: inset(37% 0 30% 0);
  }
  55% {
    clip-path: inset(53% 0 39% 0);
  }
  60% {
    clip-path: inset(50% 0 44% 0);
  }
  65% {
    clip-path: inset(42% 0 22% 0);
  }
  70% {
    clip-path: inset(92% 0 7% 0);
  }
  75% {
    clip-path: inset(21% 0 50% 0);
  }
  80% {
    clip-path: inset(61% 0 8% 0);
  }
  85% {
    clip-path: inset(76% 0 20% 0);
  }
  90% {
    clip-path: inset(50% 0 46% 0);
  }
  95% {
    clip-path: inset(4% 0 50% 0);
  }
  100% {
    clip-path: inset(65% 0 31% 0);
  }
}

/* Normal text */
.text {
  position: relative;
}

/* Shifted texts */
.text::before, .text::after {
  content: attr(text);
  position: absolute;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

/* Left-shifted text */
.text::before {
  animation: glitch 2s infinite linear alternate-reverse;
  left: 2px;
  opacity: 0.8;
  text-shadow: -2px 0 var(--secondary);
}

/* Right-shifted text */
.text::after {
  animation: glitch 2s infinite linear alternate;
  left: -2px;
  opacity: 0.8;
  text-shadow: -2px 0 var(--tertiary);
}