/* React app */
.App {
  text-align: center;
}

/* Header */
.Header {
  display: inline-block;
  height: fit-content;
  padding: 20px 0;
  width: 100%;
  z-index: 5;
}

.Header * {
  display: inline;
  opacity: 1;
  vertical-align: middle;
  z-index: 6;
}

.Header-left {
  float: left;
}

.Header-right {
  float: right;
}

/* Menu */
.Menu-button {
  background-color: initial;
  color: #ffffff;
  height: 48px;
  width: 48px;
  margin: 0 25px;
}

.Menu-list {
  list-style: none;
  padding: 0;
}

.Menu-item {
  margin: 10px 30px;
  text-align: left;
}

.Menu-item * {
  display: inline;
  vertical-align: middle;
}

.Menu-item p {
  margin-left: 10px;
}

.Menu-bottom {
  position: absolute;
  bottom: 0;
}

/* Logo */
.Logo {
  height: 48px;
  margin-right: 20px;
}

/* Title */
.Title {
  font-size: 30pt;
}

/* Avatar */
.Avatar {
  height: 48px;
  margin-right: 20px;
}

/* Main content */
.Main {
  padding: 0;
}

/* Footer */
.Footer {
  bottom: 0;
  left: 0;
  margin: 20px 20px;
  position: absolute;
  width: calc(100vw - 40px);
}

/* Particles */
.Particles {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -4;
}