/* CSS root */
:root {
  position: relative;
  height: 100%;
}

/* React root */
#root {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Resizable drawer */
.react-resizable {
  overflow: auto;
}